
@{
    ViewData["Title"] = "Change Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-xl-3">
        <div id="navigation">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card version">
                        <div class="card-header">
                            <h5>Change Log</h5>
                            <div class="card-header-right">
                                <i class="icofont icofont-navigation-menu"></i>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="support-btn">
                                <a href="#!" class="btn waves-effect waves-light btn-primary btn-block"><i class="icofont icofont-life-buoy"></i> Item support</a>
                            </div>
                            <ul class="nav navigation">
                                <li class="navigation-header"><i class="icon-history pull-right"></i> <b>Version history</b></li>
                                <li class="waves-effect waves-light">
                                    <a href="#v_1_0">Version 1.0 <span class="text-muted text-regular pull-right">4.29.2019</span></a>
                                </li>                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xl-9">
        <div class="col-sm-12">
            <div class="card" id="v_1_0">
                <div class="card-header">
                    <h5>Version 1.0</h5>
                    <span> Initial System setups for login layout and inititial database setups.</span>
                    <div class="">
                        <span class="text-muted heading-text m-r-5">April 29, 2019</span>
                        <label class="label label-info">V.1</label>
                    </div>
                </div>
                <div class="card-block">
                    <pre class="language-javascript">
                        <code>
                            // # List of new components
                            // ------------------------------

                            [new]  Added Login Credentials
                            [new]  Added Logout Clear Credentials
                            [new]  Cookies and Cookies Authentication
                            [new]  Design Layout Page
                            [new]  Redesign Code structure from Webservices to WCF
                            [new]  Added dynamic Menu

                            // # Database Changes
                            // ------------------------------
                            [added]  DB Master
                            [added] Table company
                            [added] Table employee
                            [added] Table login_users
                            [added] Table module_access
                            [added] Table module_access_default
                            [added] Table module_list
                            [added] Table modules
                            [added] Table warehouse

                            // # List of added new Plugins
                            // ------------------------------
                            // Plugins Included on Mega Able Admin Template

                            [added]  animate.css
                            [added]  autosize
                            [added]  bootstrap
                            [added]  bootstrap-datepicker
                            [added]  bootstrap-daterangepicker
                            [added]  bootstrap-maxlength
                            [added]  bootstrap-multiselect
                            [added]  bootstrap-tagsinput
                            [added]  c3
                            [added]  chart.js
                            [added]  chartist
                            [added]  clndr
                            [added]  countdown
                            [added]  cropper
                            [added]  d3
                            [added]  datatables.net
                            [added]  datatables.net-bs
                            [added]  datatables.net-bs4
                            [added]  datatables.net-buttons
                            [added]  datatables.net-buttons-bs4
                            [added]  datatables.net-plugins
                            [added]  datatables.net-responsive
                            [added]  datatables.net-responsive-bs
                            [added]  datatables.net-responsive-bs4
                            [added]  datatables.net-rowreorder
                            [added]  datedropper
                            [added]  ekko-lightbox
                            [added]  fastclick
                            [added]  font-awesome
                            [added]  fullcalendar
                            [added]  handlebars
                            [added]  handsontable
                            [added]  i18next
                            [added]  i18next-browser-languagedetector
                            [added]  i18next-xhr-backend
                            [added]  intro.js
                            [added]  jquery
                            [added]  jquery.cookie
                            [added]  jquery.steps
                            [added]  jquery.uniform
                            [added]  jquery-bar-rating
                            [added]  jquery-i18next
                            [added]  jquery-minicolors
                            [added]  jquery-slimscroll
                            [added]  jquery-sparkline
                            [added]  jquery-ui
                            [added]  jquery-validation
                            [added]  jscolor
                            [added]  jstree
                            [added]  lightbox2
                            [added]  lightgallery
                            [added]  long-press
                            [added]  modernizr
                            [added]  moment
                            [added]  morris.js
                            [added]  multiselect
                            [added]  numbro
                            [added]  nvd3
                            [added]  offline
                            [added]  owl.carousel
                            [added]  peity
                            [added]  pikaday
                            [added]  d3
                            [added]  pnotify
                            [added]  popper.js
                            [added]  raphael
                            [added]  rickshaw
                            [added]  seiyria-bootstrap-slider
                            [added]  select2
                            [added]  slick-carousel
                            [added]  Sortable
                            [added]  spectrum
                            [added]  stroll
                            [added]  sweetalert
                            [added]  swiper
                            [added]  switchery
                            [added]  tether
                            [added]  transitionize
                            [added]  typeahead.js
                            [added]  underscore

                            // # List of fixed bugs
                            // ------------------------------

                            [None]  For future testing

                        </code>
                                                                </pre>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
</div>

<script type="text/javascript" src="~/Files/default/pages/prism/custom-prism.js"></script>